.title {
  font-family: $title-font;
  color: $color-primary;
  line-height: 1.2;

  &--main {
    font-weight: 800;
    font-size: 4.4rem;
    text-transform: capitalize;
  }

  &--huge {
    font-weight: 600;
    font-size: 4.8rem;
    text-transform: uppercase;
  }

  &--big {
    font-size: 3.6rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--heading {
    font-size: 4rem;
    font-weight: 600;
    color: $color-primary;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }
  &--medium {
    font-size: 2.4rem;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  &--small {
    font-size: 1.4rem;
    font-weight: 300;
  }
  &--light {
    font-weight: 300;
    font-size: 1.2rem;
    color: $color-primary;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }
}

.paragraph {
  font-size: 1.5rem;
  color: $color-text;
  font-weight: normal;
  line-height: 2.7rem;
}
