$color-primary: #000000;
$color-secondary: #ffa45c;
$color-primary-2: rgba(0, 0, 0, 0.5);

$color-text: #808080;
$color-white: #ffffff;
$color-black: #000000;
$color-text-light: #d1d1d1;

$default-font: 'Open Sans', sans-serif;
$title-font: 'Open Sans', sans-serif;

$gutterX: 2rem;
$gutterY: 6rem;

$breaking-point-1: 768px;
$breaking-point-2: 425px;
$breaking-point-3: 320px;

$transition: all 0.2s ease-in-out;
